/*

  This is the shit that i actually want included

*/

body, footer .wrap {
    background-color: black;
}

.splash-page {
    background-color: black;
}

.album-link img {
    margin-top: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}